In [2]:
import pandas as pd

In [ ]:
import pandas as pd

data_latinoamerica_paises = pd.read_csv(r"C:\Users\USER\Desktop\Avance-Int-M4\PI_Avance_3\DatosFinalesFiltrado.csv")

print(data_latinoamerica_paises)

,location_key,date,country_code,country_name,new_confirmed,new_deceased,cumulative_confirmed,cumulative_deceased,cumulative_vaccine_doses_administered,population,...,population_largest_city,area_rural_sq_km,area_urban_sq_km,life_expectancy,adult_male_mortality_rate,adult_female_mortality_rate,pollution_mortality_rate,comorbidity_mortality_rate,new_recovered,cumulative_recovered
0,AR,2021-01-02,AR,Argentina,7767.0,166.0,1670634.0,46688.0,20334.0,44938712.0,...,15057273.0,2690269.0,55032.0,76.520,147.086,79.483,26.6,15.8,0.0,0.0
1,AR,2021-01-03,AR,Argentina,4934.0,157.0,1675568.0,46845.0,20529.0,44938712.0,...,15057273.0,2690269.0,55032.0,76.520,147.086,79.483,26.6,15.8,0.0,0.0
2,AR,2021-01-04,AR,Argentina,13953.0,157.0,1689521.0,47002.0,25164.0,44938712.0,...,15057273.0,2690269.0,55032.0,76.520,147.086,79.483,26.6,15.8,0.0,0.0
3,AR,2021-01-05,AR,Argentina,14085.0,160.0,1703606.0,47162.0,29852.0,44938712.0,...,15057273.0,2690269.0,55032.0,76.520,147.086,79.483,26.6,15.8,0.0,0.0
4,AR,2021-01-06,AR,Argentina,14496.0,131.0,1718102.0,47293.0,34162.0,44938712.0,...,15057273.0,2690269.0,55032.0,76.520,147.086,79.483,26.6,15.8,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3739,PE,2022-09-13,PE,Peru,1150.0,22.0,4127612.0,216173.0,0.0,29381884.0,...,10554712.0,1256339.0,16425.0,76.516,146.370,84.815,63.9,12.6,0.0,0.0
3740,PE,2022-09-14,PE,Peru,NaN,NaN,NaN,NaN,0.0,29381884.0,...,10554712.0,1256339.0,16425.0,76.516,146.370,84.815,63.9,12.6,0.0,0.0
3741,PE,2022-09-15,PE,Peru,NaN,NaN,NaN,NaN,0.0,29381884.0,...,10554712.0,1256339.0,16425.0,76.516,146.370,84.815,63.9,12.6,0.0,0.0
3742,PE,2022-09-16,PE,Peru,NaN,NaN,NaN,NaN,0.0,29381884.0,...,10554712.0,1256339.0,16425.0,76.516,146.370,84.815,63.9,12.6,0.0,0.0
3743,PE,2022-09-17,PE,Peru,NaN,NaN,NaN,NaN,0.0,29381884.0,...,10554712.0,1256339.0,16425.0,76.516,146.370,84.815,63.9,12.6,0.0,0.0

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

data_latinoamerica_paises = pd.read_csv(r"C:\Users\USER\Desktop\Avance-Int-M4\PI_Avance_3\DatosFinalesFiltrado.csv")
data_latinoamerica_paises['date'] = pd.to_datetime(data_latinoamerica_paises['date'])
data_latinoamerica_paises.set_index('date', inplace=True)
data_latinoamerica_paises['active_cases'] = data_latinoamerica_paises['cumulative_confirmed'] - data_latinoamerica_paises['cumulative_deceased'] - data_latinoamerica_paises ['cumulative_recovered']

plt.figure(figsize=(25, 20))
sns.lineplot(data=data_latinoamerica_paises.select_dtypes(include=["float64", "int64"]).resample('M').mean(), x='date', y='active_cases', label='Casos Activos')
sns.lineplot(data=data_latinoamerica_paises.select_dtypes(include=["float64", "int64"]).resample('M').mean(), x='date', y='cumulative_recovered', label='Casos Recuperados')
plt.xlabel('´Fecha')
plt.ylabel('Numero de casos')
plt.title('Evolución de casos activos vs. Recuperados en América Latina')
plt.legend()
plt.show()